{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Projeto Piloto Riscos </title>
    <link rel="stylesheet" type="text/css" href="{% static 'riscos/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'riscos/style.css' %}" />
    <script src="{% static 'riscos/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'riscos/js/functions.js' %}"></script>
</head>

<body>

    {% include "riscos/header.html" %}

    <main role="main">
        {% block main_content %} {% endblock %}
    </main>

    {% include "riscos/footer.html" %}

    <script src="{% static 'riscos/bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>
</body>

</html>