{% extends 'riscos/base.html' %} {% block main_content %}
<div class="container">
    <h1 class="titulo-pagina"> Consultar </h1>
    <hr>
</div>

<div class="container" style="font-size:small;">
    <form id="consulta-form" class="consulta-form" action="{% url 'riscos:consultar' %}" method="post">
        {% csrf_token %} {% for field in form %} {% if field.name == "tipo" %}
        <div style="width:100%; text-align:center; margin-bottom:1rem">
            <div class="btn-group btn-group-toggle" data-toggle="buttons"> {% for radio in field %}
                <label class="btn btn-info {% if forloop.counter|slugify == parametros.tipo.0 %} active {% endif %}"> {{radio.tag}} {{radio.choice_label}} </label> {% endfor %} </div>
        </div> {% else %}
        <div class="form-group row">
            {{ field.errors }}
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">
            {{ field.label_tag }}
            </label>
            <div class="col-sm-10">
                {{ field }}
            </div>
        </div>
        {% endif %} {% endfor %}
        <div style="text-align:right;">
            <input type="submit" name="submit" value="Consultar" class="btn btn-success">
        </div>
    </form>
    <br>
    <br> {% include "riscos/consultar_res.html" %}
</div>
<br>
<script>
</script>
{% endblock %}