{% if res is not empty %}
<div class="container">
    <h1 class="titulo-pagina"> Resultado da Consulta </h1>
    <hr>
</div>
<br> {% if tipo_res == '1' %} {% for item in res %}
<div class="card" style="margin-bottom:5px;">
    <div class="card-body py-3">
        <h5 class="card-title">Processo: {{item|lower|capfirst}}
            <a href="{% url 'riscos:detalhar_processo' target_id=item.pk %}" title="Detalhar processo" class="float-right"><i class="far fa-list-alt"></i></a>
        </h5>
        <div class="row">
            <div class="col">
                <p class="card-subtitle text-muted">Macroprocesso: {{item.id_macroprocesso|lower|capfirst}}</p>
            </div>
        </div>
    </div>
</div>
{% empty %}
<p style="text-align:center;"> Consulta sem resultado </p>
{% endfor %} {% else %} {% for item in res %}
<div class="card" style="margin-bottom:5px;">
    <div class="card-body py-3">
        <h5 class="card-title">Risco: {{item|lower|capfirst}}
            <a href="{% url 'riscos:detalhar_risco' target_id=item.pk %}" title="Detalhar risco" class="float-right"><i class="far fa-list-alt"></i></a>
        </h5>
        <div class="row">
            <div class="col">
                <p class="card-subtitle text-muted">Processo: {{item.id_processo|lower|capfirst}}</p>
            </div>
            <div class="col">
                <p class="card-subtitle text-muted">Atividade: {% if item.id_atividade is None %} - {% else %} {{item.id_atividade|lower|capfirst}} {% endif %}</p>
            </div>
        </div>
    </div>
</div>
{% empty %}
<p style="text-align:center;"> Consulta sem resultado </p>
{% endfor %} {% endif %} {% else %} {% endif %}