{% extends 'riscos/base.html' %} {% block main_content %}
<style>
    .criar-controle>p>span {
        font-weight: bold;
        color: black;
    }
</style>

<div class="container">
    <p style="font-size:xx-small; color:grey">
        {{parent.id_processo.id_macroprocesso.id_cadeia.id_planejamento}} > {{parent.id_processo.id_macroprocesso.id_cadeia}} >
        <a href="{% url 'riscos:detalhar_macroprocesso' target_id=parent.id_processo.id_macroprocesso.pk %}" style="color:unset;">{{parent.id_processo.id_macroprocesso}}</a> >
        <a href="{% url 'riscos:detalhar_processo' target_id=parent.id_processo.pk %}" style="color:unset;">{{parent.id_processo}}</a> >
        <a href="{% url 'riscos:detalhar_risco' target_id=parent.pk %}" style="color:unset;">{{parent.ds_risco}}</a> {% if acao == 'edit' %} > Editar tratamento</p>
    <h1 class="titulo-pagina"> Editar tratamento </h1>
    {% else %} > Criar tratamento</p>
    <h1 class="titulo-pagina"> {{parent.ds_risco}} </h1>
    <hr>
    <h6 class="subtitulo-pagina">Criar tratamento</h6>
    {% endif %}
    <br>
</div>

<div class="container criar-controle" style="font-size:small;">
    <h5> Dados Gerais </h5>
    <hr>
    <p><span>Planejamento estratégico:</span> {{parent.id_processo.id_macroprocesso.id_cadeia.id_planejamento}}</p>
    <p><span>Cadeia:</span> {{parent.id_processo.id_macroprocesso.id_cadeia}}</p>
    <p><span>Macroprcesso:</span> {{parent.id_processo.id_macroprocesso}}</p>
    <p><span>Processo:</span> {{parent.id_processo}}</p>
    <p><span>Risco:</span> {{parent}}</p>
    <br>
    <h5>Dados do controle</h5>
    <hr>
    <form method="POST" action="">
        {{ form.management_form }} {% csrf_token %}
        <div> {{form}} <br> </div>
        <br> {% if acao == 'edit' %}
        <div style="text-align:right;">
            <input type="submit" name="submit-e-detalhar" value="Salvar" class="btn btn-success">
            <a class="btn btn-danger" href="{{request.META.HTTP_REFERER}}">Cancelar</a>
        </div>
        {% else %}
        <div style="text-align:right;">
            <input type="submit" name="submit-e-detalhar" value="Criar e detalhar risco" class="btn btn-success">
            <input type="submit" name="submit-e-cadastrar" value="Criar e cadastrar novo tratamento" class="btn btn-primary">
            <a class="btn btn-danger" href="{% url 'riscos:detalhar_risco' target_id=parent.pk %}">Cancelar</a>
        </div>
        {% endif %}
    </form> <br>
</div>
{% endblock %}