{% extends 'riscos/base.html' %} {% block main_content %}

<div class="container criar-projeto">
    <h2> Criar Plano Estratégico </h2> <br>

    <form class="projeto-form" action="{% url 'riscos:criar_planejamento' %}" method="post">
        {% csrf_token %} {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }} {{ field.errors }}
        </div>
        {% endfor %}
        <input type="submit" name="submit-planejamento" value="Criar plano estratégico" class="btn btn-success">
        <a class="btn btn-danger" href="{% url 'riscos:listar_planejamento' %}">Cancelar</a>
    </form> <br>
</div>

{% endblock %}