{% extends 'riscos/base.html' %} {% block main_content %}
<style>
    .criar-risco>p>span {
        font-weight: bold;
        color: black;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <p style="font-size:xx-small; color:grey">
            {{parent.id_macroprocesso.id_cadeia.id_planejamento}} > {{parent.id_macroprocesso.id_cadeia}} >
            <a href="{% url 'riscos:detalhar_macroprocesso' target_id=parent.id_macroprocesso.pk %}" style="color:unset;">{{parent.id_macroprocesso}}</a> >
            <a href="{% url 'riscos:detalhar_processo' target_id=parent.pk %}" style="color:unset;">{{parent.ds_processo}}</a> > Criar risco</p>
        <h1 class="display-4" style="text-align: center"> {{parent.ds_processo}} </h1>
        <hr>
        <h6 style="text-align: center">Criar risco</h6>
    </div>
</div>

<div class="container criar-risco" style="font-size:small;">
    <h5> Dados Gerais </h5>
    <hr>
    <p><span>Planejamento estratégico:</span> {{parent.id_macroprocesso.id_cadeia.id_planejamento}}</p>
    <p><span>Cadeia:</span> {{parent.id_macroprocesso.id_cadeia}}</p>
    <p><span>Macroprcesso:</span> {{parent.id_macroprocesso}}</p>
    <p><span>Processo:</span> {{parent}}</p>
    <form id="risco-form" class="risco-form" action="{% url 'riscos:criar_risco' parent_id=parent.pk %}" method="post">
        {% csrf_token %} {% for field in form %} {% if field.label == "Descrição do risco" %}
        <br>
        <h5> Dados do Risco </h5>
        <hr>
        <div class="form-group">
            {{ field.label_tag }} {{ field }} {{ field.errors }}
        </div>
        {% else %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }} {{ field.errors }}
        </div>
        {% endif %} {% endfor %}<br>
        <div id="form-causa">
            <h5> Causas do Risco </h5>
            <hr> {{ formset.management_form }} {% for form in formset|slice:causa %} {% csrf_token %}
            <div> {{form}} <br> </div>
            {% endfor %}
            <div style="text-align: right; line-height:0">
                <a id="add-causa" title="Adicionar causa" style="color:#008000;font-size:1.5em;cursor:pointer;">
                    <i class="fas fa-plus-circle"></i>
                </a>
                <a id="remove-causa" title="Remover causa" style="color:#bb0000;font-size:1.5em;cursor:pointer;">
                    <i class="fas fa-minus-circle"></i>
                </a>
            </div>
        </div><br>
        <div id="form-consequencia">
            <h5> Consequências do Risco </h5>
            <hr> {{ formset2.management_form }} {% for form in formset|slice:conseq %} {% csrf_token %}
            <div> {{form}} <br> </div>
            {% endfor %}
            <div style="text-align: right; line-height:0">
                <a id="add-consequencia" title="Adicionar consequência" style="color:#008000;font-size:1.5em;cursor:pointer;">
                    <i class="fas fa-plus-circle"></i>
                </a>
                <a id="remove-consequencia" title="Remover consequência" style="color:#bb0000;font-size:1.5em;cursor:pointer;">
                    <i class="fas fa-minus-circle"></i>
                </a>
            </div>
        </div><br><br>
        <div style="text-align:right;">
            <input type="submit" name="submit-e-detalhar" value="Criar e detalhar risco" class="btn btn-success">
            <input type="submit" name="submit-e-cadastrar" value="Criar e cadastrar novo risco" class="btn btn-primary">
            <a class="btn btn-danger" href="{% url 'riscos:detalhar_processo' target_id=parent.pk %}">Cancelar</a>
        </div><br>
    </form>
</div>

<script>
    $("#form-causa>div:has(input[id$=ds_causa_consequencia]):gt(0)").hide();
    $("#add-causa").on("click", function() {
        $("#form-causa>div:has(input[id$=ds_causa_consequencia]):hidden:first").show();
    })
    $("#remove-causa").on("click", function() {
        if ($("#form-causa>div:has(input[id$=ds_causa_consequencia]):not(:hidden)").length > 1) {
            $("#form-causa>div:has(input[id$=ds_causa_consequencia]):not(:hidden):last>input[id$=ds_causa_consequencia]")[0].value = "";
            $("#form-causa>div:has(input[id$=ds_causa_consequencia]):not(:hidden):last").hide();
        }
    })

    $("#form-consequencia>div:has(input[id$=ds_causa_consequencia]):gt(0)").hide();
    $("#add-consequencia").on("click", function() {
        $("#form-consequencia>div:has(input[id$=ds_causa_consequencia]):hidden:first").show();
    })
    $("#remove-consequencia").on("click", function() {
        if ($("#form-consequencia>div:has(input[id$=ds_causa_consequencia]):not(:hidden)").length > 1) {
            $("#form-consequencia>div:has(input[id$=ds_causa_consequencia]):not(:hidden):last>input[id$=ds_causa_consequencia]")[0].value = "";
            $("#form-consequencia>div:has(input[id$=ds_causa_consequencia]):not(:hidden):last").hide();
        }
    })
    $("input[name^=submit-").click(function() {
        $("#form-causa input[name$='ds_causa_consequencia']").each(function(i, elem) {
            if (elem.value != "") {
                $("#form-causa select option[value='Causa']:eq(" + i + ")").attr('selected', 'selected');
            }
        })

        $("#form-consequencia input[name$='ds_causa_consequencia']").each(function(i, elem) {
            if (elem.value != "") {
                $("#form-consequencia select option[value='Consequência']:eq(" + i + ")").attr('selected', 'selected');
            }
        })
    })
</script>

{% endblock %}