{% extends 'riscos/base.html' %} {% block main_content %}
<style>
    .criar-processo > p > span {
        font-weight: bold;
        color:black;
    }
</style>

<div class="container criar-processo">
    <h2> Criar Processo </h2> <br>
    <h5> Dados Gerais </h5>
    <hr>
    <p><span>Planejamento estratégico:</span> {{parent.id_cadeia.id_planejamento}}</p>
    <p><span>Cadeia:</span> {{parent.id_cadeia}}</p>
    <p><span>Macroprcesso:</span> {{parent}}</p>
    
    <br>
    <h5> Dados do Processo </h5>
    <hr>
    <form id="macroprocesso-form" class="macroprocesso-form" action="{% url 'riscos:criar_processo' parent_id=parent.pk %}" method="post">
        {% csrf_token %} {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }} {{ field.errors }}
        </div>
        {% endfor %}
        <input type="submit" name="submit-macroprocesso" value="Criar processo" class="btn btn-success">
        <a class="btn btn-danger" href="{% url 'riscos:listar_processo' %}">Cancelar</a>
    </form> <br>
</div>

<script>
</script>

{% endblock %}