{% extends 'riscos/base.html' %} {% block main_content %}

<div class="jumbotron">
    <div class="container">
        <p style="font-size:xx-small; color:grey">
            <a href="{% url 'riscos:detalhar_planejamento' target_id=observacao.id_cadeia.id_planejamento.pk %}" style="color:unset;">{{observacao.id_cadeia.id_planejamento}}</a> >
            <a href="{% url 'riscos:detalhar_cadeia' target_id=observacao.id_cadeia.pk %}" style="color:unset;">{{observacao.id_cadeia}}</a> >
            <a href="{% url 'riscos:detalhar_macroprocesso' target_id=observacao.pk %}" style="color:unset;">{{observacao.ds_macroprocesso}}</a> > Detalhar</p>
        <h1 class="display-4" style="text-align: center"> {{observacao.ds_macroprocesso}} </h1>
        <hr>
        <h6 style="text-align: center">Cadeia - {{observacao.id_cadeia}}</h6>
    </div>
</div>

<div class="container" style="font-size:small;">
    <h5>Contexto</h5>
    <hr>
    <table class="table table-bordered table-hover">
        <tr>
            <td class="campo table-active" style="width: 20%">Planejamento Estratégico</td>
            <td class="valor">
                {{observacao.id_cadeia.id_planejamento}}
                <a title="Detalhar" href="{% url 'riscos:detalhar_planejamento' target_id=observacao.id_cadeia.id_planejamento.pk %}">
                    <i class="fas fa-search"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="campo table-active" style="width: 20%">Cadeia</td>
            <td class="valor">
                {{observacao.id_cadeia}}
                <a title="Detalhar" href="{% url 'riscos:detalhar_cadeia' target_id=observacao.id_cadeia.pk %}">
                    <i class="fas fa-search"></i>
                </a>
            </td>
        </tr>
    </table>
    <br><br>

    <h5>Processos</h5>
    <hr> {% if processos %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width: 10%">Item</th>
                <th>Descrição do processo</th>
                <th style="width: 5%"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in processos %}
            <tr>
                <td style="width: 10%">{{ forloop.counter }}</td>
                <td>{{ item.ds_processo }}</td>
                <td style="width:5%;text-align:center;">
                    <a title="Detalhar processo" href="{% url 'riscos:detalhar_processo' target_id=item.pk %}">
                        <i class="far fa-list-alt"></i>
                    </a>
                </td>
            </tr>{% endfor %}
        </tbody>
    </table>
    {% else %}
    <p> Nenhum processo registrado </p>
    {% endif %}
    <div style="text-align: right; line-height:0">
        <a title="Adicionar atividade" href="{% url 'riscos:criar_processo' parent_id=observacao.pk %}" style="color:green; font-size:1.5em">
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>
    <br><br>

    <div style="text-align:right;">
        <a class="btn btn-primary " href="{{request.META.HTTP_REFERER}}">Voltar</a>
    </div>
</div>
<br> {% endblock %}