{% extends 'riscos/base.html' %} {% block main_content %}

<div class="jumbotron">
    <div class="container">
        <p style="font-size:xx-small; color:grey">
            {{observacao.id_processo.id_macroprocesso.id_cadeia.id_planejamento}} > {{observacao.id_processo.id_macroprocesso.id_cadeia}} >
            <a href="{% url 'riscos:detalhar_macroprocesso' target_id=observacao.id_processo.id_macroprocesso.pk %}" style="color:unset;"> {{observacao.id_processo.id_macroprocesso}}</a> >
            <a href="{% url 'riscos:detalhar_processo' target_id=observacao.id_processo.pk %}" style="color:unset;">{{observacao.id_processo}}</a> >
            <a href="{% url 'riscos:detalhar_risco' target_id=observacao.pk %}" style="color:unset;">{{observacao.ds_risco}}</a> > Detalhar
        </p>
        <h1 class="display-4" style="text-align: center"> {{observacao.ds_risco}} </h1>
        <hr>
        <h6 style="text-align: center">Processo - {{observacao.id_processo}}</h6>
        {% if observacao.id_atividade %}
        <h6 style="text-align: center">Atividade - {{observacao.id_atividade}}</h6>
        {% endif %}
    </div>
</div>

<div class="container" style="font-size:small;">
    <h5>Localização na matriz de riscos</h5>
    <hr>
    <br><br>

    <h5>Dados gerais</h5>
    <hr>
    <table class="table table-bordered table-hover">
        <tr>
            <td class="campo table-active" style="width: 20%">Planejamento Estratégico</td>
            <td class="valor">{{observacao.id_processo.id_macroprocesso.id_cadeia.id_planejamento}}</td>
        </tr>
        <tr>
            <td class="campo table-active" style="width: 20%">Cadeia</td>
            <td class="valor">{{observacao.id_processo.id_macroprocesso.id_cadeia}}</td>
        </tr>
        <tr>
            <td class="campo table-active" style="width: 20%">Macroprocesso</td>
            <td class="valor">
                {{observacao.id_processo.id_macroprocesso}}
                <a title="Detalhar" href="{% url 'riscos:detalhar_macroprocesso' target_id=observacao.id_processo.id_macroprocesso.pk %}">
                    <i class="fas fa-search"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="campo table-active" style="width: 20%">Processo</td>
            <td class="valor">
                {{observacao.id_processo}}
                <a title="Detalhar" href="{% url 'riscos:detalhar_processo' target_id=observacao.id_processo.pk %}">
                    <i class="fas fa-search"></i>
                </a>
            </td>
        </tr>
    </table>
    <br><br>

    <h5>Dados do risco</h5>
    <hr>
    <table class="table table-bordered table-hover">
        <tr>
            <td class="campo table-active">Descrição do risco</td>
            <td class="valor">{{observacao.ds_risco}}</td>
        </tr>
        <tr>
            <td class="campo table-active" style="width: 20%">Tipologia</td>
            <td class="valor">{{observacao.id_tipo_risco}}</td>
        </tr>
        <tr>
            <td class="campo table-active" style="width: 20%">Impacto</td>
            <td class="valor">{{observacao.id_impacto}}</td>
        </tr>
        <tr>
            <td class="campo table-active" style="width: 20%">Probabilidade</td>
            <td class="valor">{{observacao.id_probabilidade}}</td>
        </tr>
    </table>
    <br><br>

    <h5>Causas</h5>
    <hr> {% if causas %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width: 10%">Item</th>
                <th>Descrição da causa</th>
            </tr>
        </thead>
        <tbody>
            {% for item in causas %}
            <tr>
                <td style="width: 10%">{{ forloop.counter }}</td>
                <td>{{ item.ds_causa_consequencia }}</td>
            </tr>{% endfor %}

        </tbody>
    </table>
    {% else %}
    <p> Nenhuma causa registrada </p>
    {% endif %}
    <br><br>

    <h5>Consequências</h5>
    <hr> {% if consequencias %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width: 10%">Item</th>
                <th>Descrição da consequência</th>
            </tr>
        </thead>
        <tbody>
            {% for item in consequencias %}
            <tr>
                <td style="width: 10%">{{ forloop.counter }}</td>
                <td>{{item.ds_causa_consequencia}}</td>
            </tr>{% endfor %}

        </tbody>
    </table>
    {% else %}
    <p> Nenhuma consequência registrada </p>
    {% endif %}
    <br><br>

    <h5>Tratamento</h5>
    <hr> {% if tratamentos %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width: 10%">Item</th>
                <th>Descrição do controle</th>
                <th>Status do controle</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tratamentos %}
            <tr>
                <td style="width: 10%">{{ forloop.counter }}</td>
                <td>{{item.ds_controle}}</td>
                <td>{{item.ds_status}}</td>
            </tr>{% endfor %}

        </tbody>
    </table>
    {% else %}
    <p> Nenhum tratamento registrado </p>
    {% endif %}
    <div style="text-align: right; line-height:0">
        <a title="Adicionar tratamento" href="{% url 'riscos:criar_tratamento' parent_id=observacao.pk %}" style="color:green;font-size:1.5em;cursor:pointer;">
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>
    <br><br>

    <div style="text-align:right">
        <a class="btn btn-primary" href="#">Editar risco</a>
        <a class="btn btn-dark" href="{{request.META.HTTP_REFERER}}">Voltar</a>
    </div>
    <br>
</div>
<br> {% endblock %}