{% extends 'riscos/base.html' %} {% block main_content %}

<div class="container">
    <p style="font-size:xx-small; color:grey">
        {{observacao.ds_planejamento}} > Detalhar
    </p>
    <h1 class="titulo-pagina"> {{observacao.ds_planejamento}} </h1>
    <hr>
    <h6 class="subtitulo-pagina">Detalhar Planejamento Estratégico</h6>
    <br>
</div>

<div class="container" style="font-size:small;">
    <h5>Cadeias</h5>
    <hr> {% if cadeias %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width: 10%">Item</th>
                <th>Descrição da cadeia</th>
                <th style="width: 5%"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in cadeias %}
            <tr>
                <td style="width: 10%">{{ forloop.counter }}</td>
                <td>{{ item.ds_cadeia }}</td>
                <td style="width:5%;text-align:center;">
                    <a title="Detalhar cadeia" href="{% url 'riscos:detalhar_cadeia' target_id=item.pk %}">
                        <i class="far fa-list-alt"></i>
                    </a>
                </td>
            </tr>{% endfor %}
        </tbody>
    </table>
    {% else %}
    <p> Nenhuma cadeia registrada </p>
    {% endif %}
    <br><br>

    <h5>Macroprocessos</h5>
    <hr> {% if macroprocessos %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width: 10%">Item</th>
                <th>Cadeia</th>
                <th>Descrição do macroprocesso</th>
                <th style="width: 5%"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in macroprocessos %}
            <tr>
                <td style="width: 10%">{{ forloop.counter }}</td>
                <td>{{ item.id_cadeia }}</td>
                <td>{{ item.ds_macroprocesso }}</td>
                <td style="width:5%;text-align:center;">
                    <a title="Detalhar macroprocesso" href="{% url 'riscos:detalhar_macroprocesso' target_id=item.pk %}">
                        <i class="far fa-list-alt"></i>
                    </a>
                </td>
            </tr>{% endfor %}
        </tbody>
    </table>
    {% else %}
    <p> Nenhum macroprocesso registrado </p>
    {% endif %}
    <br><br>

    <div style="text-align:right;">
        <a class="btn btn-primary" href="{{request.META.HTTP_REFERER}}">Voltar</a>
    </div>
</div>
<br> {% endblock %}