{% extends 'riscos/base.html' %} {% block main_content %}

<div class="jumbotron">
    <div class="container">
        <p style="font-size:xx-small; color:grey">{{observacao.id_macroprocesso.id_cadeia.id_planejamento}} > {{observacao.id_macroprocesso.id_cadeia}} > {{observacao.id_macroprocesso}} > {{observacao.ds_processo}} > Detalhar</p>
        <h1 class="display-4" style="text-align: center"> {{observacao.ds_processo}} </h1>
        <hr>
        <h6 style="text-align: center">Macroprocesso - {{observacao.id_macroprocesso}}</h6>
    </div>
</div>

<div class="container" style="font-size:small;">
    <h5>Matriz de riscos</h5>
    <hr>
    <br><br>

    <h5>Dados gerais</h5>
    <hr>
    <table class="table table-bordered table-hover">
        <tr>
            <td class="campo table-active" style="width: 20%">Planejamento Estratégico</td>
            <td class="valor">{{observacao.id_macroprocesso.id_cadeia.id_planejamento}}</td>
        </tr>
        <tr>
            <td class="campo table-active" style="width: 20%">Cadeia</td>
            <td class="valor">{{observacao.id_macroprocesso.id_cadeia}}</td>
        </tr>
        <tr>
            <td class="campo table-active" style="width: 20%">Macroprocesso</td>
            <td class="valor">{{observacao.id_macroprocesso}}</td>
        </tr>
        <tr>
            <td class="campo table-active" style="width: 20%">Processo</td>
            <td class="valor">{{observacao.ds_processo}}</td>
        </tr>
    </table>
    <br><br>

    <h5>Atividades</h5>
    <hr> {% if atividades %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width: 10%">Item</th>
                <th>Descrição da atividade</th>
            </tr>
        </thead>
        <tbody>
            {% for item in atividades %}
            <tr>
                <td style="width: 10%">{{ forloop.counter }}</td>
                <td>{{ item.ds_atividade }}</td>
            </tr>{% endfor %}

        </tbody>
    </table>
    {% else %}
    <p> Nenhuma atividade registrada </p>
    {% endif %}
    <div style="text-align: right; line-height:0">
        <a title="Adicionar atividade" href="#" style="color:green; font-size:1.5em">
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>
    <br><br>

    <h5>Riscos</h5>
    <hr> {% if riscos %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width: 10%">Item</th>
                <th>Descrição do risco</th>
                <th style="width: 5%"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in riscos %}
            <tr>
                <td style="width: 10%">{{ forloop.counter }}</td>
                <td>{{ item.ds_risco }}</td>
                <td style="width:5%;text-align:center;">
                    <a title="Detalhar risco" href="{% url 'riscos:detalhar_risco' target_id=item.pk %}">
                        <i class="far fa-list-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p> Nenhum risco registrada </p>
    {% endif %}
    <div style="text-align: right; line-height:0">
        <a title="Adicionar risco" href="{% url 'riscos:criar_risco' parent_id=observacao.pk %}" style="color:green;font-size:1.5em;cursor:pointer;">
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>
    <br><br>

    <div style="text-align:right;">
        <a class="btn btn-primary" href="#">Editar processo</a>
        <a class="btn btn-dark" href="{{request.META.HTTP_REFERER}}">Voltar</a>
    </div>
    <br>
</div>
<br> {% endblock %}