{% extends 'riscos/base.html' %} {% block main_content %}

<!--<div class="jumbotron" style="padding-bottom: 20px; margin-bottom: 1.25rem;">
    <div class="container"></div>
</div>-->

<div class="container">

    <!--BOAS VINDAS-->
    <h2 class="display-4" style="text-align:center;">{Usuário}, bem-vindo ao SIR!</h2>
    <h5 style="text-align:center;">Você está na {Unidade}!</h5>
    <br/>

    <!--ALERTAS-->
    {% for vencido in vencidos %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> O tratamento "<strong>{{vencido}}</strong>" está atrasado! Data de entrega: <strong>{{vencido.dt_quando}}</strong>
        <a title="Ver risco" href="{% url 'riscos:detalhar_risco' target_id=vencido.id_causa_consequencia.id_risco.pk %}" style="color:unset;"><i class="fas fa-info-circle"></i></a>
    </div>
    {% endfor %} {% for proximo in proximos %}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Faltam <strong>{{proximo.dt_quando|timeuntil}}</strong> para entregar <strong>{{proximo}}</strong>
        <a title="Ver risco" href="{% url 'riscos:detalhar_risco' target_id=proximo.id_causa_consequencia.id_risco.pk %}" style="color:unset;"><i class="fas fa-info-circle"></i></a>
    </div>
    {% endfor %} <br>

    <!--DASHBOARD INFORMAÇÕES GERAIS-->
    <div class="card-deck">
        <div class="card">
            <div class="card-body proc-total color-secondary-1-4 rounded" style="color:#FFF">
                <div class="card-text text-center card-dash-subtitulo">
                    <h1>{{ processos|length }}</h1>
                    {% if processos|length == 1 %}
                    <p>PROCESSO<br>CADASTRADO</p>
                    {% else %}
                    <p>PROCESSOS<br>CADASTRADOS</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body risco-total color-secondary-1-3 rounded" style="color:#FFF">
                <div class="card-text text-center card-dash-subtitulo">
                    <h1>{{ riscos|length }}</h1>
                    {% if riscos|length == 1 %}
                    <p>RISCO<br>CADASTRADO</p>
                    {% else %}
                    <p>RISCOS<br>CADASTRADOS</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body risco-grave color-secondary-1-0 rounded" style="color:#FFF">
                <div class="card-text text-center card-dash-subtitulo">
                    <h1>{{ graves|length }}</h1>
                    {% if graves|length == 1 %}
                    <p>RISCO GRAVE<br>CADASTRADO</p>
                    {% else %}
                    <p>RISCOS GRAVES<br>CADASTRADOS</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br/>

    <!--LISTA DE PROCESSOS-->
    <div class="card busca border-top-0">
        <div class="card-header color-secondary-1-0 rounded-0" style="color:#FFF">
            <h5 style="display:inline;">Lista de Processos</h5>
            <a href="" title="Criar novo processo" data-toggle="modal" data-target="#modal" style="margin:0 10px;">
                <i class="fas fa-plus-circle" style="color:#FFF;"></i></a>
            <!--<input id="termo" type="text" placeholder="Buscar...">-->
        </div>
        <div class="card-body arvore">
            <div class="accordion-dashboard" id="acc-Processo">
                {% if processos %} {% for processo in processos %}
                <div>
                    <div class="card-header bg-white" id="head-proc-{{processo.pk}}">
                        <div class="mb-0">
                            <button class="btn btn-link border-0 p-1" type="button" data-toggle="collapse" data-target="#data-proc-{{processo.pk}}" aria-expanded="true" aria-controls="data-proc-{{processo.pk}}">
                                    {{processo}}
                                </button>
                            <a title="Detalhar processo" href="{% url 'riscos:detalhar_processo' target_id=processo.pk %}" style="margin:0 3px;">
                                <i class="far fa-list-alt" style="font-size:1em"></i></a>
                            <a href="{% url 'riscos:criar_atividade' parent_id=processo.pk acao='criar' %}" title="Cadastrar atividade" style="margin:0 3px;">
                                <i class="fas fa-plus-circle" style="color:green;font-size:1em;"></i></a>
                            <a href="{% url 'riscos:criar_risco' parent_id=processo.pk %}" title="Cadastrar risco" style="margin:0 3px;">
                                <i class="fas fa-plus-circle" style="color:red;font-size:1em;"></i></a>
                        </div>
                    </div>

                    <div id="data-proc-{{processo.pk}}" class="collapse" aria-labelledby="head-proc-{{processo.pk}}" data-parent="#acc-Processo">
                        <div class="card-body">
                            {% if processo in processos_com_risco %}
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <th> Descrição do risco </th>
                                    <th style="width:5%;"></th>
                                    <th style="width:5%;"></th>
                                </thead>
                                {% for risco in riscos %} {% if risco.id_processo == processo %}
                                <tr>
                                    <td>{{risco}}</td>
                                    <td style="width:5%;text-align:center;">
                                        <a href="{% url 'riscos:detalhar_risco' target_id=risco.pk %}" title="Detalhar risco">
                                            <i class="far fa-list-alt" style="font-size:1em"></i></a>
                                    </td>
                                    <td style="width:5%;text-align:center;">
                                        <a href="{% url 'riscos:criar_tratamento' parent_id=risco.pk %}" title="Cadastrar tratamento">
                                            <i class="fas fa-plus-circle" style="color:red;font-size:1em;"></i></a>
                                    </td>
                                </tr>
                                {% endif %} {% endfor %}
                            </table>
                            {% else %}
                            <p class="card-text"> Nenhum risco cadastrado neste processo </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
        <br>
    </div>
    <br>

    <!--MODAL-->
    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog" style="max-width:960px">
            <div class="modal-content">
                <div class="modal-header color-secondary-1-3" style="color:#FFF">
                    <h5 class="modal-title">Criar novo processo</h5>
                    <button type="button" class="close" data-dismiss="modal" style="color:#FFF">&times;</button>
                </div>
                <div class="modal-body">
                    <label>Escolha um macroprocesso</label>
                    <select id="escolha_macro" class="form-control">
                        {% for macro in macroprocessos %}
                        <option value="{{macro.pk}}">{{macro}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer" style="color:#FFF">
                    <a id="btn_processo" class="btn btn-primary" href="macroprocesso/1/criar/processo/">Criar processo</a>
                    <a class="btn btn-secondary" data-dismiss="modal">Fechar</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        // $(".arvore li span").click(function() {
        //     $(this).parent().next().toggleClass("hidden")
        //     $(this).parent().next().children("ul").addClass("hidden")
        // })

        $("#escolha_macro").change(function() {
            console.log(this.value)
            id = this.value
            console.log($("#btn_processo").attr("href"))
            $("#btn_processo").attr("href", "macroprocesso/" + id + "/criar/processo/")
        })

        // $("#termo").change(function() {
        //     const termo = this.value
        //     var processos = $(".processo")
        //     processos.each(function(i, elem) {
        //         const texto = processos[i].children[0].textContent.toUpperCase()
        //         var teste = texto.match(termo.toUpperCase())
        //         if (teste === null) {
        //             if (elem.className.match("hidden") === null) {
        //                 elem.className = elem.className + " hidden"
        //             }
        //         } else {
        //             elem.className = elem.className.replace(" hidden", "")
        //         }
        //     })
        // })

        // Mudança de css no accordion (setas)
        $(".accordion-dashboard div").on("show.bs.collapse", function() {
            $(":first", this).addClass("accordion-open");
        })
        $(".accordion-dashboard div").on("hide.bs.collapse", function() {
            $(":first", this).removeClass("accordion-open");
        })
    </script>

    {% endblock %}