{% extends 'riscos/base.html' %} {% block main_content %}
<div class="jumbotron">
    {% include "riscos/piloto.html" %}
</div>
<div class="container">
    <h2>Página inicial</h2><br>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel urna in est molestie pretium. Mauris vel pretium enim, id mattis libero. Quisque maximus dolor sed odio porttitor tempus in consectetur mi. In vulputate, diam vitae aliquam vestibulum,
        purus nisi dignissim nisl, sit amet fermentum quam sem ut arcu. Nullam quam lectus, ultricies quis cursus varius, suscipit a dui. Cras nisi diam, ornare in erat finibus, egestas consequat massa. In elementum nisi convallis, volutpat lacus vel,
        consequat eros. Pellentesque nulla justo, tempor sit amet tristique a, volutpat at urna. Duis congue massa orci, sed venenatis elit fermentum at. Nam maximus mollis leo ut sagittis. Mauris sit amet lacus non ipsum mollis hendrerit. Donec auctor
        ornare sapien a consectetur. Morbi feugiat fermentum quam at hendrerit. Nulla mollis eget dui et vehicula.</p>

    <p> Aenean consequat, nunc eu aliquet tempus, lorem risus rutrum sapien, tincidunt tempor libero mi at est. In vel auctor ex. Cras eget semper ipsum. Duis consequat ipsum nec risus egestas cursus. Cras consequat a felis in commodo. Nullam mi urna, molestie
        quis urna vel, laoreet semper tortor. Curabitur accumsan mi felis. Fusce purus leo, sagittis id sapien fermentum, malesuada tristique magna. Fusce vulputate, nisi vitae eleifend maximus, nunc lacus bibendum nisl, nec mattis metus eros ac mauris.</p>

    <p> Vivamus sollicitudin scelerisque orci. Proin ut elit in elit dignissim interdum. Suspendisse dictum arcu et magna dictum semper. Maecenas pharetra ullamcorper nunc nec faucibus. Suspendisse id ligula at justo facilisis ultricies. Integer non dui nulla.
        Sed vel egestas lectus. Proin augue felis, vestibulum non aliquam ac, tristique at mi. Vivamus porttitor tincidunt tortor, nec gravida odio scelerisque et.</p>

    <p> Sed vestibulum risus sit amet est mattis molestie. Nam sodales a lectus eget placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed semper efficitur tellus, quis malesuada quam efficitur ut. Nullam convallis
        mi eu iaculis fermentum. Donec tempus consectetur orci, eu lacinia nunc auctor vitae. Nulla eu eleifend mi. Maecenas et rhoncus enim, et faucibus urna. In at lacinia justo. Sed pellentesque porttitor lacus, et ornare lorem suscipit eget. Sed dignissim
        erat blandit mollis blandit.</p>

    <p> Phasellus sit amet euismod urna. Quisque convallis pretium mollis. Donec sit amet velit luctus ante feugiat imperdiet rutrum vitae mauris. Quisque nec tempus est. Quisque eu mi ultrices, semper nulla vel, tincidunt ex. Vivamus nec sapien sed mi facilisis
        convallis. Fusce vel lacinia leo. Sed et fermentum nulla. Mauris tempus luctus luctus. Suspendisse interdum scelerisque purus, vitae ullamcorper justo. Donec viverra ex egestas, dignissim purus ac, eleifend lectus. Integer bibendum, velit sit
        amet accumsan viverra, arcu arcu molestie libero, ut pellentesque mauris augue ut tellus. Donec ligula dui, varius a faucibus ut, fermentum in ex. Sed dictum euismod dui, non cursus augue vestibulum ut. Nulla at pulvinar erat, ac mattis turpis.</p>

    <p> Nunc quis nulla finibus, congue odio vitae, volutpat elit. Aliquam accumsan justo ligula, eu egestas lorem maximus a. Phasellus ac metus id purus blandit fermentum a ac nulla. Aenean dictum laoreet erat, ac laoreet arcu commodo et. Mauris molestie
        finibus congue. Curabitur aliquam, orci in ullamcorper accumsan, dui libero auctor ante, eget suscipit purus leo ut nisi. Praesent nunc est, auctor at ante eu, venenatis posuere lectus. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Sed pretium euismod sapien. Nullam sagittis ex vel turpis blandit lobortis. Curabitur a fringilla sapien.</p>

    <p> Morbi vitae imperdiet odio, vitae mattis ligula. Ut maximus vel tortor ac venenatis. Quisque tristique, lorem mattis euismod fermentum, tellus ante gravida leo, sed suscipit quam lectus vitae nibh. Phasellus purus erat, auctor vel suscipit vitae,
        vehicula eu sapien. Donec et turpis scelerisque, iaculis sapien eu, iaculis nisl. Suspendisse commodo diam eu felis venenatis, tempor semper ante maximus. Praesent eget nunc vel odio dapibus tempus. Aenean est elit, hendrerit quis augue a, aliquet
        mattis dolor. Aliquam luctus odio a aliquam condimentum. Donec semper, leo a dictum gravida, risus ex tempor dui, a dictum enim augue in dolor.</p>

    <p> Vivamus tristique ex eu augue pulvinar, vel lobortis purus semper. Nam viverra leo non urna vehicula, at sagittis urna pulvinar. Vivamus eros tellus, suscipit dictum congue non, tincidunt in justo. Phasellus nec diam aliquam, fringilla arcu sit amet,
        consectetur tortor. Mauris lectus enim, dictum eget pulvinar at, vulputate vel velit. Praesent mattis lacinia ex, ac consectetur velit posuere ac. Vestibulum augue ante, bibendum et posuere vitae, condimentum eu tellus. Donec sit amet ex et ipsum
        euismod efficitur ut ut nulla. In hac habitasse platea dictumst. Aenean pretium vehicula justo, ut sagittis diam pulvinar aliquam. Donec egestas libero ac risus sollicitudin, id porta diam consectetur.</p>

    <p> Duis sit amet magna pretium, blandit erat quis, pulvinar dui. Suspendisse elementum, massa et fringilla lacinia, est nunc aliquet lorem, ac ullamcorper libero quam non leo. Cras id nisl suscipit, dictum libero ut, auctor leo. Duis molestie convallis
        lacinia. Maecenas luctus, neque nec feugiat posuere, nunc velit suscipit enim, at fermentum ipsum nunc non lectus. Suspendisse at ex condimentum, dapibus tellus a, ullamcorper dolor. Nunc varius, libero nec bibendum bibendum, dolor augue dictum
        libero, id posuere tortor urna id est. Pellentesque sed nibh turpis. Pellentesque tincidunt massa vel lacus ultrices, quis molestie nulla tincidunt.</p>

    <p> Duis a diam elit. Vestibulum arcu mi, pellentesque quis sapien vitae, pulvinar ultricies enim. Proin feugiat nibh ultrices neque porta, vitae eleifend dolor sollicitudin. Nam at sodales ex. Quisque sollicitudin accumsan felis sit amet tempor. Nullam
        dignissim egestas dui, nec venenatis diam tristique ut. Curabitur porttitor nibh felis, viverra blandit ex iaculis non. Nulla congue felis quis tellus interdum, in pellentesque lectus vehicula. Nullam lobortis lacus eu lorem auctor malesuada.
        Vestibulum purus mi, commodo molestie eros vitae, porta commodo elit. Cras cursus blandit erat.</p>
</div>
{% endblock %}