{% extends 'riscos/base.html' %} {% block main_content %}

<div class="jumbotron">
    <div class="container">
        <p style="font-size:xx-small; color:grey">
            Macroprocesso > Listar
        </p>
        <h1 class="display-4" style="text-align: center"> Macroprocessos </h1>
        <hr>
        <h6 style="text-align: center">Listar</h6>
    </div>
</div>

<div class="container listar-objeto">
    <table class="table table-bordered table-hover" style="font-size:small;">
        <thead class="thead-light" style="text-align:center;">
            <tr>
                <th>Planejamento Estratégico</th>
                <th>Cadeia</th>
                <th>Macroprocesso</th>
            </tr>
        </thead>
        {% for item in lista %}
        <tr>
            <td>
                <a style="color: black;" href="{% url 'riscos:detalhar_planejamento' target_id=item.id_cadeia.id_planejamento.pk %}">
                    {{item.id_cadeia.id_planejamento}}
                </a>
            </td>
            <td>
                <a style="color: black;" href="{% url 'riscos:detalhar_cadeia' target_id=item.id_cadeia.pk %}">
                    {{item.id_cadeia}}
                </a>
            </td>
            <td>
                <a style="color: black;" href="{% url 'riscos:detalhar_macroprocesso' target_id=item.pk %}">
                    {{item.ds_macroprocesso}}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a class="btn btn-info" href="{% url 'riscos:criar_macroprocesso' %}">Criar novo macroprocesso</a>
</div>
<br> {% endblock %}