{% extends 'riscos/base.html' %} {% block main_content %}

<div class="container">
    <p style="font-size:xx-small; color:grey">
        Processo > Listar
    </p>
    <h1 class="titulo-pagina"> Processos </h1>
    <hr>
    <h6 class="subtitulo-pagina">Listar</h6>
    <br>
</div>

<div class="container listar-objeto">
    <table class="table table-bordered table-hover" style="font-size:small;">
        <thead class="thead-light" style="text-align:center;">
            <tr>
                <th>Planejamento Estratégico</th>
                <th>Cadeia</th>
                <th>Macroprocesso</th>
                <th>Processo</th>
            </tr>
        </thead>
        {% for item in lista %}
        <tr>
            <td>
                <a style="color: black;" href="{% url 'riscos:detalhar_planejamento' target_id=item.id_macroprocesso.id_cadeia.id_planejamento.pk %}">
                    {{item.id_macroprocesso.id_cadeia.id_planejamento}}
                </a>
            </td>
            <td>
                <a style="color: black;" href="{% url 'riscos:detalhar_cadeia' target_id=item.id_macroprocesso.id_cadeia.pk %}">
                    {{item.id_macroprocesso.id_cadeia}}
                </a>
            </td>
            <td>
                <a style="color: black;" href="{% url 'riscos:detalhar_macroprocesso' target_id=item.id_macroprocesso.pk %}">
                    {{item.id_macroprocesso}}
                </a>
            </td>
            <td>
                <a style="color: black;" href="{% url 'riscos:detalhar_processo' target_id=item.pk %}">
                    {{item.ds_processo}}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
</div>
<br> {% endblock %}