{% extends 'riscos/base.html' %} {% block main_content %}
<div class="container">
    <h1 class="titulo-pagina"> Sobre o Sistema Integrado de Riscos</h1>
    <hr>
    <br>
</div>

<div class="container">
    <h2>Olá!</h2><br>

    <p>Bem-vindos ao sistema integrado de riscos do Ministério da Agricultura, Pecuária e Abastecimento, o SIR/MAPA. Integrado significa colocar todas as práticas de gestão de riscos do ministério em um único sistema.</p>

    <p>A integração dos processos faz com que o ministério caminhe em bloco para o real atingimento de seus objetivos estratégicos, táticos e operacionais.</p>

    <p>As técnicas de Gestão de Riscos fornecem às pessoas, em todos os níveis, uma abordagem sistemática para o gerenciamento dos riscos que são parte integrante de suas responsabilidades.</p>

    <p>O principal objetivo da Gestão de Riscos é avaliar as incertezas de forma a tomar a melhor decisão possível. De certa forma, toda gestão de risco e toda tomada de decisão lida com esta situação, e os seus benefícios dão as melhores decisões, menos
        surpresa, melhora no planejamento, na performance e na efetividade, além da melhora no relacionamento com as partes interessadas.</p>

    <p>O SIR surge como uma ferramenta elabora pela Coordenação Geral de Controle Operacional – CGCO com o intuito de facilitar a dinâmica da gestão de riscos no âmbito do Ministério.</p>

</div>
<br> {% endblock %}